<!DOCTYPE html>
<html>
    <head>
        <title>Caesar Cipher</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('stylesheet', filename='cipher_page.css')}}">
    </head>
    <body>
        <div class="content">
            <div class="section" id="input-section">
                <h1 class="cipher-name-header">Caesar Cipher</h1>
                <form method="POST">
                    <label for="text">Text:</label>
                    <textarea name="text" id="text" rows="5" cols="40" required placeholder="Enter text here..."></textarea><br>
                    <label for="shift">Shift:</label>
                    <input type="number" name="shift" id="shift" required><br>
                    <label for="operation">Operation:</label>
                    <select name="operation" id="operation">
                        <option value="encode">Encode</option>
                        <option value="decode">Decode</option>
                    </select><br>
                    <label for="alphabet">Alphabet:</label>
                    <input type="text" name="alphabet" id="alphabet" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ"><br>
                    <label for="anp">Alphabet, Numbers, Punctuation (anp):</label>
                    <select name="anp" id="anp">
                        <option value="a">Alphabet</option>
                        <option value="an">Alphabet & Numbers</option>
                        <option value="anp">Alphabet, Numbers & Punctuation</option>
                        <option value="ap">Alphabet & Punctuation</option>
                    </select><br>
                    <label for="min_length">Minimum Alphabet Length:</label>
                    <input type="number" name="min_length" id="min_length" value=26>
                    <label for="max_length">Maximum Alphabet Length:</label><br>
                    <input type="number" name="max_length" id="max_length" value=26><br>
                    <label for="tight">Tightness</label>
                    <select name="tight" id="tight">
                        <option value="Y">Filter out punctuation</option>
                        <option value="N">Ignore (keep) punctuation</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="section" id="results-section">
                <h2>Result:</h2>
                <p id="result-para">{{ result }}</p>
            </div>
        </div>
        <script src="{{ url_for('script', filename='form-persistence.js') }}"></script>
    </body>
</html>