<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>
            Hello World!
        </h1>
        <h2>
            Go to Ciphers:
        </h2>
        <ul>
            <li>
                <a href="/ciphers/caesar-cipher">Caesar Cipher</a>
            </li>
            <li>
                <a href="/ciphers/shifting-caesar-cipher">Shifting Caesar Cipher</a>
            </li>
            <li>
                <a href="/ciphers/monoalphabetic-substitution-cipher">Monoalphabetic Substitution Cipher</a>
            </li>
            <li>
                <a href="/ciphers/four-square-cipher">Four Square Cipher</a>
            </li>
        </ul>
        <h2>
            Go to Tools:
        </h2>
        <ul>
            <li>
                <a href="/tools/corpus-management">Corpus Management</a>
            </li>
        </ul>
    </body>
</html>